.mono {
	font-family: "Lucida Console", Courier, fixed;
}

.spaced {
	margin-right: 4px;
}

.pre {
  white-space: pre;
}

.embolden {
	font-weight: bold;
}

.deemphasize {
  color: #999999;	
}

div.pids {
  -webkit-column-count:4; /* Chrome, Safari, Opera */
  -moz-column-count:4; /* Firefox */
  column-count:4;
  font-size: smaller;
  font-family: "Lucida Console", Courier, fixed;
}

table {
	 border-spacing: 0;
   border-collapse: collapse;
}

table.mntable {
  font-size: normal;
}

th.mntable {
	border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

tr.mntable {
  border-bottom: 1px solid #CCCCCC;
}

td.selected {
  background: #eeffee;
}


@media handheld, only screen and (max-width: 767px) {
	div.pids {
	  -webkit-column-count:1; /* Chrome, Safari, Opera */
	  -moz-column-count:1; /* Firefox */
	  column-count:1;
	}
}

@media all {
  div.page-break {
    display: none;
  }
  
  .chart {
    float: left; 
    display: inline;
    margin-left: 0px; 
    margin-right: 0px;
    height: 150px;
    width: 350px;
  }

  div.indextable {
    overflow-y: scroll;
    overflow-x: hide;
    height: 115px;
  }

}

@media print {
  div.page-break {
    display: block;
    position: relative;
    float: none;
    page-break-before: always;
    width: 100%;
    height: 10px;
  }

  div.indextable {
    display: none;
    }

  .chart {
    float: left; 
    display: inline; 
    margin-left: 0px; 
    margin-right: 0px;
    height: 1.5in;
    width: 3.5in;
  }
  
  div.pids {
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2; /* Firefox */
    column-count:2;
    font-size: smaller;
    font-family: "Lucida Console", Courier, fixed;
  } 
}
